body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loginV{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.mainV{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  color: white;
}
.filmsSection{
  margin: 5%;
}
.filmsSection h1{
  color:rgb(245, 211, 100);
}
.loginDiv{
  min-width:22%;
}